{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Index</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">
{% endblock stylesheet %}


{% block content %}
    <div class="col-md-9">
        <h1 style="display:inline">New Questions</h1>
        <a href="#" style="margin-left:10px">Hot Questions</a>

        <div class = "container questions-container">
            {% for question in questions %}
                {% include "single_question.html" %}
            {% endfor %}
        </div>
        {% include "paginator.html" %}
    </div>
{% endblock content %}