{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Index</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">
{% endblock stylesheet %}


{% block content %}
    <div class="col-md-9">
        {% if hot %}
            <h1 style="display:inline">Hot Questions</h1>
            <a href="{% url 'index' %}" style="margin-left:10px">New Questions</a>
        {% else %}
            {% if tag is None %}
                <h1 style="display:inline">New Questions</h1>
                <a href="{% url 'hot' %}" style="margin-left:10px">Hot Questions</a>
            {% else %}
                <h1 style="display:inline">Tag: {{ tag }} </h1>
            {% endif %}
        {% endif %}

        <div class = "container questions-container">
            {% for question in questions %}
                {% include "single_question.html" %}
            {% endfor %}
        </div>
        {% include "paginator.html" %}
    </div>
{% endblock content %}