{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Tag</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">
{% endblock stylesheet %}


{% block content %}
    <div class="col-md-9">
        <h1 style="display:inline">Tag: bender</h1>

        <div class="container questions-container">
            <div class="container question-box">

                <div class="col-md-2">
                    <img src="../static/img/def_avatar.png" alt="avatar">

                    <div class="input-group in-group">
                        <span class="input-group-btn">
                            <button class="btn btn-xs btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </span>
                        <!--<input type="text" class="form-control input-xs" value="10" readonly/>-->
                        <span id="rating">10</span>
                        <span class="input-group-btn in-group">
                            <button class="btn btn-xs btn-danger in-group">
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-md-10 question-data">
                    <a class="question-header" href="#">Your favourite Guy Ritchie quote?</a>
                    <p>Right. Let's sort the buyers from the spyers, the needy from the greedy, and those who trust me from the ones who don't, because if you can't see value here today, you're not up here shopping. You're up here shoplifting. You see these goods? Never seen daylight, moonlight, Israelite. Fanny by the gaslight. Take a bag, c'mon take a bag. I took a bag home last night. Cost me a lot more than ten pound, I can tell you. Anyone like jewelry? Look at that one there. Handmade in Italy, hand-stolen ...</p>

                    <a href="#">Answers (3)</a>
                    <span style="margin-left: 15px">Tags:</span>
                    <ul class="question-tags">
                        <li><a href="#">black-jack</a></li>
                        <li><a href="#">bender</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="container questions-container">
            <div class="container question-box">

                <div class="col-md-2">
                    <img src="../static/img/def_avatar.png" alt="avatar">

                    <div class="input-group in-group">
                        <span class="input-group-btn">
                            <button class="btn btn-xs btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </span>
                        <input type="text" class="form-control input-xs" value="10" readonly/>
                        <span class="input-group-btn in-group">
                            <button class="btn btn-xs btn-danger in-group">
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-md-10 question-data">
                    <a class="question-header" href="#">Your favourite Guy Ritchie quote?</a>
                    <p>Right. Let's sort the buyers from the spyers, the needy from the greedy, and those who trust me from the ones who don't, because if you can't see value here today, you're not up here shopping. You're up here shoplifting. You see these goods? Never seen daylight, moonlight, Israelite. Fanny by the gaslight. Take a bag, c'mon take a bag. I took a bag home last night. Cost me a lot more than ten pound, I can tell you. Anyone like jewelry? Look at that one there. Handmade in Italy, hand-stolen ...</p>

                    <a href="#">Answers (3)</a>
                    <span style="margin-left: 15px">Tags:</span>
                    <ul class="question-tags">
                        <li><a href="#">black-jack</a></li>
                        <li><a href="#">bender</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="container questions-container">
            <div class="container question-box">

                <div class="col-md-2">
                    <img src="../static/img/def_avatar.png" alt="avatar">

                    <div class="input-group in-group">
                        <span class="input-group-btn">
                            <button class="btn btn-xs btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </span>
                        <input type="text" class="form-control input-xs" value="10" readonly/>
                        <span class="input-group-btn in-group">
                            <button class="btn btn-xs btn-danger in-group">
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-md-10 question-data">
                    <a class="question-header" href="#">Your favourite Guy Ritchie quote?</a>
                    <p>Right. Let's sort the buyers from the spyers, the needy from the greedy, and those who trust me from the ones who don't, because if you can't see value here today, you're not up here shopping. You're up here shoplifting. You see these goods? Never seen daylight, moonlight, Israelite. Fanny by the gaslight. Take a bag, c'mon take a bag. I took a bag home last night. Cost me a lot more than ten pound, I can tell you. Anyone like jewelry? Look at that one there. Handmade in Italy, hand-stolen ...</p>

                    <a href="#">Answers (3)</a>
                    <span style="margin-left: 15px">Tags:</span>
                    <ul class="question-tags">
                        <li><a href="#">black-jack</a></li>
                        <li><a href="#">bender</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div>
            <ul class="pagination">
                <li><a class="pagination" href="#"> << </a></li>
                <li><a class="pagination" href="#">1</a></li>
                <li><a class="pagination" href="#">2</a></li>
                <li><a class="pagination" href="#">..</a></li>
                <li><a class="pagination" href="#">6</a></li>
                <li><a class="pagination" href="#"> >> </a></li>
            </ul>


        </div>
    </div>
{% endblock content %}