{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Index</title>
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">
{% endblock stylesheet %}


{% block content %}
    <div class="col-md-9">
        <h1 style="display:inline">New Questions</h1>
        <a href="#" style="margin-left:10px">Hot Questions</a>

        {% for question in questions %}
            {% include "single_question.html" %}
        {% endfor %}
        <div>
            <ul class="pagination">
                <li><a class="pagination" href="#"> << </a></li>
                <li><a class="pagination" href="#">1</a></li>
                <li><a class="pagination" href="#">2</a></li>
                <li><a class="pagination" href="#">..</a></li>
                <li><a class="pagination" href="#">6</a></li>
                <li><a class="pagination" href="#"> >> </a></li>
            </ul>


        </div>
    </div>
{% endblock content %}