{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Tag</title>
{% endblock title %}

{% block stylesheet %}
    <link href="../static/css/login.css" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <h1>Log In</h1>

    <div class="alert alert-danger">
        <strong>Warning!</strong> Incorrect login or password!
    </div>

    <div class="container question-form" style="width: 100%">
        <div class="row">
            <div class="col-md-2">
                Login
            </div>
            <div class="col-md-10">
                <input type="text" class="login"> <span style="color:red"> incorrect data!</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Password
            </div>
            <div class="col-md-10">
                <input type="password" class="password">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="button" style="margin-left:0; margin-top: 10px" class="btn btn-basic search-btn" name=login>Log in!</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <a style="margin-top: 10px" href="#">create new account</a>
            </div>
        </div>
    </div>
{% endblock content %}