<ul class="pagination" style = "margin-left: 15px">
    <li><a class="pagination" href="../?page={{ prev_page }}" > << </a></li>
    <li><a class="pagination" href="../?page=1">1</a></li>
    {% if max_page != 1 %}
        <li><a class="pagination" href="../?page=2">2</a></li>
        {% if current_page > 4 %}
            <li><a class="pagination" >..</a></li>
        {% endif %}

        {% if current_page > 3 %}
            <li><a class="pagination" href="../?page={{ prev_page }}" > {{ prev_page }}</a></li>
        {% endif %}

        {% if current_page > 2 %}
            <li><a class="pagination" href="../?page={{ current_page }}" > {{ current_page }}</a></li>
        {% endif %}

        {% if current_page != max_page and current_page > 1 %}
            <li><a class="pagination" href="../?page={{ next_page }}" > {{ next_page }}</a></li>
        {% endif %}

        {% if prev_prev_max_page > next_page %}
            <li><a class="pagination" >..</a></li>
        {% endif %}

        {% if prev_max_page > next_page %}
            <li><a class="pagination" href="../?page={{ prev_max_page }}">{{ prev_max_page }}</a></li>
        {% endif %}

        {% if max_page > next_page %}
            <li><a class="pagination" href="../?page={{ max_page }}">{{ max_page }}</a></li>
        {% endif %}
    {% endif %}
    <li><a class="pagination" href="../?page={{ next_page }}"> >> </a></li>
</ul>