{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Question</title>
{% endblock title %}

{% block stylesheet %}
    <link href="{% static "/css/index.css" %}" rel="stylesheet">
    <link href="{% static "/css/question.css" %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    {% include "single_question.html" %}

    <hr>
        <ul class="answer-list">
            {% for object in answers %}
                {% include "single_answer.html" %}
            {% endfor %}
        </ul>
    <hr>

    {% if user.is_authenticated and user.id != object.author_id %}
        {% include "answer_form.html" %}
    {% endif %}
{% endblock content %}