{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Question</title>
{% endblock title %}

{% block stylesheet %}
    <link href="{% static "/css/index.css" %}" rel="stylesheet">
    <link href="{% static "/css/question.css" %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="container question-box question-box-main">

        <div class="col-md-2">
            <img src="{% static "/img/def_avatar.png" %}" alt="avatar">

            <div class="input-group in-group">
                <span class="input-group-btn">
                    <button class="btn btn-xs btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </span>
                <input type="text" class="form-control input-xs" value="10" readonly/>
                <span class="input-group-btn in-group">
                    <button class="btn btn-xs btn-danger in-group">
                        <i class="glyphicon glyphicon-minus"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-10 question-data">
            <a class="question-header" href="#">Your favourite Guy Ritchie quote?</a>
            <p>Right. Let's sort the buyers from the spyers, the needy from the greedy, and those who trust me from the ones who don't, because if you can't see value here today, you're not up here shopping. You're up here shoplifting. You see these goods? Never seen daylight, moonlight, Israelite. Fanny by the gaslight. Take a bag, c'mon take a bag. I took a bag home last night. Cost me a lot more than ten pound, I can tell you. Anyone like jewelry? Look at that one there. Handmade in Italy, hand-stolen ...</p>

            <a href="#">Answers (3)</a>
            <span style="margin-left: 15px">Tags:</span>
            <ul class="question-tags">
                <li><a href="#">black-jack</a></li>
                <li><a href="#">bender</a></li>
            </ul>

        </div>
    </div>

    <hr>
        <ul class="answer-list">
            <li>
                <div class="container question-box">

                    <div class="col-md-2">
                        <img src="{% static "/img/def_avatar.png" %}" alt="avatar">

                        <div class="input-group in-group">
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-success">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control input-xs" value="10" readonly/>
                            <span class="input-group-btn in-group">
                                <button class="btn btn-xs btn-danger in-group">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-10 question-data">
                        <a class="question-header" href="#">My favourite is Bacon's</a>
                        <p>Right. Let's sort the buyers from the spyers, the needy from the greedy, and those who trust me from the ones who don't, because if you can't see value here today, you're not up here shopping. You're up here shoplifting. You see these goods? Never seen daylight, moonlight, Israelite. Fanny by the gaslight. Take a bag, c'mon take a bag. I took a bag home last night. Cost me a lot more than ten pound, I can tell you. Anyone like...</p>

                        <input type="checkbox">  Correct!<br>

                    </div>
                </div>

            </li>
                <div class="container question-box">

                    <div class="col-md-2">
                        <img src=" {% static "/img/def_avatar.png" %}" alt="avatar">

                        <div class="input-group in-group">
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-success">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control input-xs" value="10" readonly/>
                            <span class="input-group-btn in-group">
                                <button class="btn btn-xs btn-danger in-group">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-10 question-data">
                        <a class="question-header" href="#">My favourite is Bacon's</a>
                        <p>Right. Let's sort the buyers from the spyers, the needy from the greedy, and those who trust me from the ones who don't, because if you can't see value here today, you're not up here shopping. You're up here shoplifting. You see these goods? Never seen daylight, moonlight, Israelite. Fanny by the gaslight. Take a bag, c'mon take a bag. I took a bag home last night. Cost me a lot more than ten pound, I can tell you. Anyone like...</p>

                        <input type="checkbox">  Correct!<br>

                    </div>
                </div>

            <li>

            </li>
        </ul>
    <hr>

    <textarea rows = 10 class="ask-text" placeholder="Enter your answer here" name=answer-form></textarea>
    <button type="button" class="btn btn-basic search-btn" name=answer-question>Ask!</button>
{% endblock content %}