{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Question</title>
{% endblock title %}

{% block stylesheet %}
    <link href="{% static "/css/index.css" %}" rel="stylesheet">
    <link href="{% static "/css/question.css" %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    {% include "single_question.html" %}

    <hr>
        <ul class="answer-list">
            {% for object in answers %}
                {% include "single_answer.html" %}
            {% endfor %}
        </ul>
    <hr>

    <textarea rows = 10 class="ask-text" placeholder="Enter your answer here" name=answer-form></textarea>
    <button type="button" class="btn btn-basic search-btn" name=answer-question>Ask!</button>
{% endblock content %}