{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Settings</title>
{% endblock title %}

{% block stylesheet %}
      <link href="{% static "css/settings.css" %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
<h1>Settings: John Doe</h1>
<div class="alert alert-danger">
  <strong>Warning!</strong> You entered incorrect data!
</div>
<div class="container question-form" style="width: 100%">
    <div class="row">
        <div class="col-md-2">
            Login
        </div>
        <div class="col-md-10">
            <input type="text" class="settings-login" placeholder="johndoe">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Email
        </div>
        <div class="col-md-10">
            <input type="text" class="settings-email" placeholder="johndoe@mail.ru">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Nickname
        </div>
        <div class="col-md-10">
            <input type="text" class="settings-nickname" placeholder="John Doe">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Upload avatar
        </div>
        <div class="col-md-10">
            <img class="avatar-upload" src="{% static "/img/def_avatar.png" %}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10 choose-avatar">
            <input type="file">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <button type="button" style="margin-left:0; margin-top: 20px" class="btn btn-basic search-btn" name=answer-question>Save</button>
        </div>
    </div>
</div>
{% endblock content %}