<div class="container questions-container">
    <div class="container question-box">
        <div class="col-md-2">
            <img src="../static/img/def_avatar.png" alt="avatar">
            {% include "rating_btn.html" %}
        </div>

        <div class="col-md-10 question-data">
            <a class="question-header" href="#"> {{ question.title }}</a>
            <p> {{ question.text }} </p>
            <a href="#">Answers (3)</a>
            <span style="margin-left: 15px">Tags:</span>
            <ul class="question-tags">
                {% for tag in question.tags %}
                    <li><a href="#"> {{ tag }} </a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>